.footer{
    position: fixed;
    background-color: #4a4a49;
    bottom: 0;
    width: 15em;
    padding-bottom: 20px; 
}

.footer-made{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-link{
    color: aliceblue;
    text-decoration: none;
}

.footer-link:hover{
}
