.game-detail-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-more{
    height: 50%;
    text-decoration: none;
    margin-top: 15px;
    color: #1c1f1c;
    transition: 0.3s;
}

.view-more:hover{
    background-color: #b8d1db;
    border-radius: 15px;
    opacity: 1;
}

.name-header{
    color: #1c1f1c;
    font-weight: bold;
    padding: 15px 0 10px 0;
}

.game-detail-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.game-detail-item{
    margin: 5px 0;
}

.game-metacritic{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 1px;
    border: 2px solid #000;
    color: #000;
    text-align: center;
}

.game-tags{
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-carrousel-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
