.hightlight-game{
    padding: 0 15px 0 15px;
    margin-top: 15px;
    background-color: #fafafa !important;
}

.hightlight-game-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.action-text-button{
    color: #4a4a4a;
    transition: 0.3s;
}

.action-text-button:hover{
    background-color: #b8d1db !important;
    border-radius: 15px;
    opacity: 1;
}

.favorite-icon{
    color: #8f2e0b;
}

.remove-icon{
    color: #787878;
}